.esp-selected{

background:#dbeeff !important;

}

.esp-progress-widget{

padding:10px;

font-size:14px;

font-weight:600;

}

#esp_progress{

color:#2271b1;

margin-left:5px;

}

#esp_student_search{

min-width:220px;

margin-right:15px;

}